pull:
  - target: "https://www.example.com/products/my-awesome-product-details.js"
    description: "My Awesome Product"
    response:
      type: "JSON"
      path: "price"

push: 
  - target: "https://discord.com/api/webhooks/..."
    description: "Discord Notification"
    message: "The price for **My Awesome Product** has changed to **{{value}}**! Check it out [here](https://www.example.com/products/my-awesome-product-details)"